body {
	background-color: rgb(10, 184, 241);
	font-weight: m;
	font-style: normal;
	font-size: 1rem;
	font-family: helvetica, arial, sans-serif;

h1 {
	color: #0336ff;
	text-align: center
}

p {
	font-size: 30%
}

#intro {
	background-color: blue;
}

.first {
	font-size: 200%
}

#intro  .first {
	color: black;

}

#intro .first em {
	color: #ffde03;
}
:root {
	--first-color: #0336ff;
	--second-color: #ffde03;
  }
  
  #firstParagraph {
	background-color: var(--first-color);
	color: var(--second-color);
  }
  
  #secondParagraph {
	background-color: var(--second-color);
	color: var(--first-color);
  }
  
  #container {
	--first-color: #f8f5f5;
  }
  
  #thirdParagraph {
	background-color: var(--first-color);
	color: var(--second-color);
  }
  Result
}
h1 {
	border-bottom: 0.125rem solid black;
}
.title {
	text-align: center;
	background-color: #0336ff;
	line-height: 2;
}